<h2><%= @blog.title %></h2>
<%= render partial: "metadata", locals: {blog: @blog} %>
<p>
  <%= markdown @blog.body %>
</p>

<%= render 'comments/comment_form' %>

<div id="comments" data-blog-id="<%= @blog.id %>">
	<%= render @blog.comments %>
</div>
